In [9]:
import csv
import pandas as pd
import numpy as np
from geopy.distance import geodesic
import re
from geopy.geocoders import GoogleV3
from geopy.distance import geodesic
from datetime import datetime
from sklearn.preprocessing import LabelEncoder

In [10]:
geolocator = GoogleV3(api_key="AIzaSyBJ8P42fvaYv5pmqNdEqYEOJPENnm7eND0")

In [11]:
data_curate = pd.read_csv('/Users/gayathri/Documents/Predict_Prices/Data_Test.csv')
print(data_curate.columns)
print(data_curate.shape)

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info'],
      dtype='object')
(2671, 10)

In [12]:
data_curate.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL ? BOM ? COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? MAA ? BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL ? BOM ? COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL ? BOM ? COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR ? DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [13]:
flight_source = data_curate['Source'].tolist()
print(len(flight_source))

2671

In [14]:
flight_destination = data_curate['Destination'].tolist()
print(len(flight_destination))

2671

In [15]:
distances = []
calculated_distances = {}
i=0
for source, destination in zip(flight_source, flight_destination):
    if (source, destination) in calculated_distances:
        # Retrieve the previously calculated distance
        final_distance = calculated_distances[(source, destination)]
#         i = i+1
#         print(i)
    elif (destination, source) in calculated_distances:
        # Retrieve the previously calculated distance (reversed source and destination)
        final_distance = calculated_distances[(destination, source)]
#         i = i+1
#         print(i)
    else:
        location1 = geolocator.geocode(source)
        location2 = geolocator.geocode(destination)
        if location1 is not None and location2 is not None:
            coord1 = (location1.latitude, location1.longitude)
            coord2 = (location2.latitude, location2.longitude)
            distance = geodesic(coord1, coord2).kilometers
            final_distance = round(distance, 2)
            calculated_distances[(source, destination)] = final_distance
#         i = i+1
#         print(i)
        calculated_distances[(source, destination)] = final_distance
    distances.append(final_distance)
data_curate['Distance'] = distances

In [16]:
print(len(distances))

2671

In [17]:
data_curate['Distance'] = round(data_curate['Distance'])
data_curate['Distance'] = data_curate['Distance'].astype(int)

In [18]:
data_curate.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Distance
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL ? BOM ? COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,2080
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? MAA ? BLR,06:20,10:20,4h,1 stop,No info,1559
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL ? BOM ? COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included,2080
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL ? BOM ? COK,08:00,21:00,13h,1 stop,No info,2080
4,Air Asia,24/06/2019,Banglore,Delhi,BLR ? DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info,1743

In [19]:
#Drop unnecessary columns
columns_to_drop = ['Source', 'Destination', 'Route', 'Arrival_Time','Additional_Info']
data_curate = data_curate.drop(columns=columns_to_drop)
print(data_curate.columns)

Index(['Airline', 'Date_of_Journey', 'Dep_Time', 'Duration', 'Total_Stops',
       'Distance'],
      dtype='object')

In [20]:
data_curate.head()

             Airline Date_of_Journey Dep_Time Duration Total_Stops  Distance
0        Jet Airways       6/06/2019    17:30  10h 55m      1 stop      2080
1             IndiGo      12/05/2019    06:20       4h      1 stop      1559
2        Jet Airways      21/05/2019    19:15  23h 45m      1 stop      2080
3  Multiple carriers      21/05/2019    08:00      13h      1 stop      2080
4           Air Asia      24/06/2019    23:55   2h 50m    non-stop      1743

In [21]:
#To change the value of Total_Stops based on its value
for index, row in data_curate.iterrows():
    current_value = row['Total_Stops']
    
    # Perform modifications based on the current value
    if current_value == 'non-stop':
        data_curate.at[index, 'Total_Stops'] = 0
    elif current_value == '1 stop':
        data_curate.at[index, 'Total_Stops'] = 1
    elif current_value == '2 stops':
        data_curate.at[index, 'Total_Stops'] = 2
    elif current_value == '3 stops':
        data_curate.at[index, 'Total_Stops'] = 3
    elif current_value == '4 stops':
        data_curate.at[index, 'Total_Stops'] = 4
    else:
        data_curate.at[index, 'Total_Stops'] = 'Default'

In [22]:
data_curate.head()

             Airline Date_of_Journey Dep_Time Duration Total_Stops  Distance
0        Jet Airways       6/06/2019    17:30  10h 55m           1      2080
1             IndiGo      12/05/2019    06:20       4h           1      1559
2        Jet Airways      21/05/2019    19:15  23h 45m           1      2080
3  Multiple carriers      21/05/2019    08:00      13h           1      2080
4           Air Asia      24/06/2019    23:55   2h 50m           0      1743

In [23]:
count_default_stops = len(data_curate[data_curate['Total_Stops'] == 'Default'])
print("Number of rows where Total_Stops is 'Default':", count_default_stops)
print(data_curate[data_curate['Total_Stops'] == 'Default'])

Number of rows where Total_Stops is 'Default': 0
Empty DataFrame
Columns: [Airline, Date_of_Journey, Dep_Time, Duration, Total_Stops, Distance]
Index: []

In [24]:
#Drop the row
data_curate.drop(data_curate[data_curate['Total_Stops'] == 'Default'].index, inplace=True)
data_curate.shape

(2671, 6)

In [25]:
Total_Stops = data_curate['Total_Stops'].tolist()
#print(Total_Stops)
total_stops = data_curate['Total_Stops'].tolist()
total_stops_count = len(set(total_stops))
print(set(total_stops))
print("Total number of different elements in Total_Stops:", total_stops_count)
# Boolean indexing to filter rows based on the condition
filtered_rows = data_curate[data_curate['Total_Stops'] == 'Default']

# Print the filtered rows
print(filtered_rows)

total_stops_counts = data_curate['Total_Stops'].value_counts()
print(total_stops_counts)

{0, 1, 2, 3, 4}
Total number of different elements in Total_Stops: 5
Empty DataFrame
Columns: [Airline, Date_of_Journey, Dep_Time, Duration, Total_Stops, Distance]
Index: []
Total_Stops
1    1431
0     849
2     379
3      11
4       1
Name: count, dtype: int64

In [26]:
#To change the duration column values into minutes timeframe
def time_to_minutes(time_value):
    hours = 0
    minutes = 0
    pattern = r'(\d+)h\s*(\d+)?m?'
    match = re.match(pattern, str(time_value))
    if match:
        hours = int(match.group(1))
        minutes = int(match.group(2) or 0)
    total_minutes = hours * 60 + minutes
    return total_minutes

for index, row in data_curate.iterrows():
    given_duration = row['Duration']
    duration_minutes = time_to_minutes(given_duration)
    data_curate.at[index, 'Duration'] = duration_minutes

In [27]:
data_curate.head()

             Airline Date_of_Journey Dep_Time Duration Total_Stops  Distance
0        Jet Airways       6/06/2019    17:30      655           1      2080
1             IndiGo      12/05/2019    06:20      240           1      1559
2        Jet Airways      21/05/2019    19:15     1425           1      2080
3  Multiple carriers      21/05/2019    08:00      780           1      2080
4           Air Asia      24/06/2019    23:55      170           0      1743

In [28]:
#Converting the date_of_journey to a day of journey and classifying it as 0 as weekday and 1 for non-weekday
for index, row in data_curate.iterrows():
    date = row['Date_of_Journey']
    date_obj = datetime.strptime(date, '%d/%m/%Y')
    day_of_week = date_obj.weekday()
    is_weekend = 1 if day_of_week >= 5 else 0
    data_curate.at[index, 'Date_of_Journey'] = is_weekend

In [29]:
data_curate.rename(columns={'Date_of_Journey': 'Day_of_Journey'}, inplace=True)

In [30]:
data_curate.head()

             Airline Day_of_Journey Dep_Time Duration Total_Stops  Distance
0        Jet Airways              0    17:30      655           1      2080
1             IndiGo              1    06:20      240           1      1559
2        Jet Airways              0    19:15     1425           1      2080
3  Multiple carriers              0    08:00      780           1      2080
4           Air Asia              0    23:55      170           0      1743

In [31]:
# Formatting Airline name into binary. 1 if it is Jet Airways else 0
data_curate['Airline'] = data_curate['Airline'].str.contains('Jet Airways').astype(int)

In [32]:
data_curate.head()

   Airline Day_of_Journey Dep_Time Duration Total_Stops  Distance
0        1              0    17:30      655           1      2080
1        0              1    06:20      240           1      1559
2        1              0    19:15     1425           1      2080
3        0              0    08:00      780           1      2080
4        0              0    23:55      170           0      1743

In [33]:
# Convert the column to datetime with specified format and consider it as a binary value. 0 - 9:00 AM TO 10:00 PM else 1 for other timings
data_curate['Dep_Time'] = pd.to_datetime(data_curate['Dep_Time'], format='%H:%M')
data_curate['Dep_Time'] = data_curate['Dep_Time'].dt.hour
data_curate['Dep_Time'] = data_curate['Dep_Time'].apply(lambda x: 0 if (x >= 9 and x <= 22) else 1)

In [34]:
data_curate.head()

   Airline Day_of_Journey  Dep_Time Duration Total_Stops  Distance
0        1              0         0      655           1      2080
1        0              1         1      240           1      1559
2        1              0         0     1425           1      2080
3        0              0         1      780           1      2080
4        0              0         1      170           0      1743

In [35]:
data_curate.rename(columns={'Airline': 'Airline_JetAirways'}, inplace=True)

In [36]:
data_curate.head()

   Airline_JetAirways Day_of_Journey  Dep_Time Duration Total_Stops  Distance
0                   1              0         0      655           1      2080
1                   0              1         1      240           1      1559
2                   1              0         0     1425           1      2080
3                   0              0         1      780           1      2080
4                   0              0         1      170           0      1743

In [37]:
data_curate.to_csv('testing_curated_data.csv', index=False)